<div class="row main-nav">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="#">MENS</a></li>
      <li><a href="#">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>
        <div class="row">

          <div class="column medium-12">
        
        <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag("slider1.jpg", :alt => "slider 1") %>
        <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li>
      <%= image_tag("slider2.jpg", :alt => "slider 2") %>
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <%= image_tag("slider3.jpg", :alt => "slider 3") %>
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>
</div>
            </div>

<div class="row">
  <div class="small-12 column"><hr></div>
</div>
<div class="row">
  <div class="small-7 small-centered column text-center">
<h5>The ultimate lifestyle store</h5>
<p><strong>With over 900 of the world's best brands.</strong> Whether you're into action sports, heading to 
festivals, following fashion or exploring the world, we make online shopping easy. <strong>Live it!</strong></p>
</div>
</div>
<div class="row product-tiles">
<div class="small-12 medium-6 column"><h2>New in</h2><div class="overlay"></div><%= image_tag("TileWide1.jpg", :alt => "tile 1") %></div>
<div class="small-6 medium-3 column"><h2>Mens</h2><div class="overlay"></div><%= image_tag("Tile1.jpg", :alt => "tile 2") %></div>
<div class="small-6 medium-3 column"><h2>Womens</h2><div class="overlay"></div><%= image_tag("Tile2.jpg", :alt => "tile 3") %></div>
</div>
<div class="row product-tiles">
<div class="small-6 medium-3 column"><h2>Kids</h2><div class="overlay"></div><%= image_tag("Tile4.jpg", :alt => "tile 4") %></div>
<div class="small-12 medium-6 column"><h2>Ski &amp; Snowboard</h2><div class="overlay"></div><%= image_tag("TileWide2.jpg", :alt => "tile 5") %></div>
<div class="small-6 medium-3 column"><h2>Footwear</h2><div class="overlay"></div><%= image_tag("Tile5.jpg", :alt => "tile 6") %></div>
</div>

<div class="row product-tiles">
<div class="small-12 medium-6 column"><h2>Loungewear</h2><div class="overlay"></div><%= image_tag("TileWide3.jpg", :alt => "tile 7") %></div>
<div class="small-6 medium-3 column"><h2>Hoodies</h2><div class="overlay"></div><%= image_tag("Tile6.jpg", :alt => "tile 8") %></div>
<div class="small-6 medium-3 column"><h2>Accessories</h2><div class="overlay"></div><%= image_tag("Tile7.jpg", :alt => "tile 9") %></div>
</div>


<aside class='row brands'>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">ACTION SPORTS</a></dd>
    <dd><a href="#panel2-2">OUTDOOR</a></dd>
    <dd><a href="#panel2-3">LIFESTYLE</a></dd>
    <dd><a href="#panel2-4">FASHION</a></dd>
    <dd><a href="#panel2-5">STREETWEAR</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'burton.jpg'%></li>
        <li><%=image_tag 'billabong.jpg'%></li>
        <li><%=image_tag 'roxy.jpg'%></li>
        <li><%=image_tag "o'neill.jpg"%></li>
        <li><%=image_tag 'quicksilver.jpg'%></li>
      </ul>
    </div>
    <div class="content" id="panel2-2">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'north_face.jpg'%></li>
        <li><%=image_tag 'berghaus.jpg'%></li>
        <li><%=image_tag 'patagonia.jpg'%></li>
        <li><%=image_tag 'wolfskin.jpg'%></li>
        <li><%=image_tag "hh.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-3">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'hunter.jpg'%></li>
        <li><%=image_tag 'joules.jpg'%></li>
        <li><%=image_tag 'animal.jpg'%></li>
        <li><%=image_tag 'wolf_york.jpg'%></li>
        <li><%=image_tag "timberland.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-4">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'ted_baker.jpg'%></li>
        <li><%=image_tag 'canada_goose.jpg'%></li>
        <li><%=image_tag 'french_connection.jpg'%></li>
        <li><%=image_tag 'hilfiger.jpg'%></li>
        <li><%=image_tag "maison_scotch.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-5">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'vans.jpg'%></li>
        <li><%=image_tag 'dc.jpg'%></li>
        <li><%=image_tag 'converse.jpg'%></li>
        <li><%=image_tag 'adidas.jpg'%></li>
        <li><%=image_tag "element.jpg"%></li>
      </ul>
    </div>
  </div>
</aside>

  <script>
  $(document).foundation({
    orbit: {
      animation: 'slide',
      timer_speed: 3000,
      pause_on_hover: true,
      animation_speed: 700,
      navigation_arrows: true,
      bullets: true,
      slide_number: false,
      timer: false
    }
  });

  </script>