<div class="row main-nav">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="/product"  data-options="is_hover:true">MENS</a>
<div id="menu-mens" data-dropdown-content="" class="large f-dropdown content row right" style="position: absolute; top: 45px; left: -99999px;">
                  <div class="large-6 columns">
                    <!-- Heading 1 -->  
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 1</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>   
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul>
                      </div>
                    </div>  
                  </div>
                  <div class="large-6 columns">
                    <!-- Heading 2 -->
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 2</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul> 
                      </div>
                    </div>
                  </div>
                </div>
      </li>
      <li><a href="#">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>
        <div class="row">

          <div class="column medium-12">
        
        <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag("slider1.jpg", :alt => "slider 1") %>
        <div class="orbit-caption">
        <div class="sub-nav">
  <ul>
      <li><a href="#">MENS SHOES</a></li>
      <li><a href="#">WOMENS SHOES</a></li>
      <li><a href="#">SHOES ON SALE</a></li>
      
  </ul>
</div>
      </div>
    </li>
    <li>
      <%= image_tag("slider2.jpg", :alt => "slider 2") %>
      <div class="orbit-caption">
        <div class="sub-nav">
        <ul>
        <li><a href="#">SKATE TEES</a></li>
      <li><a href="#">SKATE JEANS</a></li>
      <li><a href="#">SKATE SHOES</a></li>
      <li><a href="#">SKATEBOARDS</a></li>
      
  </ul>
</div>
      </div>
    </li>
    <li>
      <%= image_tag("slider3.jpg", :alt => "slider 3") %>
      <div class="orbit-caption">
        <div class="sub-nav">
        <ul>
      <li><a href="#">SNOW JACKETS</a></li>
      <li><a href="#">SNOWBOARDS</a></li>
      <li><a href="#">SNOWBOARD ACCESSORIES</a></li>
      
  </ul>
</div>
      </div>
    </li>
  </ul>
</div>
            </div>

<div class="row">
  <div class="small-12 column"><hr></div>
</div>
<div class="row">
  <div class="small-7 small-centered column text-center">
<h5>The ultimate lifestyle store</h5>
<p><strong>With over 900 of the world's best brands.</strong> Whether you're into action sports, heading to 
festivals, following fashion or exploring the world, we make online shopping easy. <strong>Live it!</strong></p>
</div>
</div>
<div class="row product-tiles">
<div class="small-12 medium-6 column"><h2>New in</h2><div class="overlay"></div><%= image_tag("TileWide1.jpg", :alt => "tile 1") %></div>
<div class="small-6 medium-3 column"><h2>Mens</h2><div class="overlay"></div><%= image_tag("Tile1.jpg", :alt => "tile 2") %></div>
<div class="small-6 medium-3 column"><h2>Womens</h2><div class="overlay"></div><%= image_tag("Tile2.jpg", :alt => "tile 3") %></div>
</div>
<div class="row product-tiles">
<div class="small-6 medium-3 column"><h2>Kids</h2><div class="overlay"></div><%= image_tag("Tile4.jpg", :alt => "tile 4") %></div>
<div class="small-12 medium-6 column"><h2>Ski &amp; Snowboard</h2><div class="overlay"></div><%= image_tag("TileWide2.jpg", :alt => "tile 5") %></div>
<div class="small-6 medium-3 column"><h2>Footwear</h2><div class="overlay"></div><%= image_tag("Tile5.jpg", :alt => "tile 6") %></div>
</div>

<div class="row product-items">
  <div class="small-12 column"><hr></div>
  <div class="small-12 column"><div class="new-arrivals-logo"><%= image_tag("logoNewArrivals.svg", :alt => "New Arrivals") %></div>
    <ul class='large-block-grid-5 medium-block-grid-3 '>
        <li><div class="item-img"><%=image_tag 'newItemsBoots.jpg'%></div>
          <div class="item-description"><h5>Wolf &amp; York</h5><p>Splishsplash Wellington Boots</p><span class="price highlight">£24.99</span></div></li>
        <li><div class="item-img"><%=image_tag 'newItemsHoodies.jpg'%></div><div class="item-description"><h5>Adidas</h5><p>Originals Adi Trefoil Hoody</p><span class="price highlight">£24.99</span></div></li>
        <li><div class="item-img"><%=image_tag 'newItemsJacket.jpg'%></div><div class="item-description"><h5>Etnies</h5><p>Brick Lane Shirt</p><span class="price highlight">£24.99</span></div></li>
        <li><div class="item-img"><%=image_tag "newItemsShoes.jpg"%></div><div class="item-description"><h5>Vans</h5><p>Old Skool Shoes</p><span class="price highlight">£24.99</span></div></li>
        <li><div class="item-img"><%=image_tag 'newItemsSlippers.jpg'%></div><div class="item-description"><h5>Wolf &amp; York</h5><p>Sweetsop Slippers</p><span class="price highlight">£24.99</span></div></li>
        <li><div class="item-img"><%=image_tag 'newItemsJacket.jpg'%></div><div class="item-description"><h5>Etnies</h5><p>Brick Lane Shirt</p><span class="price highlight">£24.99</span></div></li>
      </ul>
      </div>
      <div class="small-12 column"><hr></div>
    </div>



<div class="row product-tiles">
<div class="small-12 medium-6 column"><h2>Loungewear</h2><div class="overlay"></div><%= image_tag("TileWide3.jpg", :alt => "tile 7") %></div>
<div class="small-6 medium-3 column"><h2>Hoodies</h2><div class="overlay"></div><%= image_tag("Tile6.jpg", :alt => "tile 8") %></div>
<div class="small-6 medium-3 column"><h2>Accessories</h2><div class="overlay"></div><%= image_tag("Tile7.jpg", :alt => "tile 9") %></div>
</div>



<aside class='row brands'>
  <div class="our-brands-logo"><%= image_tag("logoOurBrands.svg", :alt => "Our Brands") %></div>
 <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">ACTION&nbsp;SPORTS</a></dd>
    <dd><a href="#panel2-2">OUTDOOR</a></dd>
    <dd><a href="#panel2-3">LIFESTYLE</a></dd>
    <dd><a href="#panel2-4">FASHION</a></dd>
    <dd><a href="#panel2-5">STREETWEAR</a></dd>
  </dl>

  <article class="tabs-content">
    <aside class="content active" id="panel2-1">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'brandsBurton.jpg'%></li>
        <li><%=image_tag 'brandsBillabong.jpg'%></li>
        <li><%=image_tag 'brandsRoxy.jpg'%></li>
        <li><%=image_tag "brandsO'Neill.jpg"%></li>
        <li><%=image_tag 'brandsQuicksilver.jpg'%></li>
      </ul>
    </aside>
    <aside class="content" id="panel2-2">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'brandsNorthFace.jpg'%></li>
        <li><%=image_tag 'brandsBerghaus.jpg'%></li>
        <li><%=image_tag 'brandsPatagonia.jpg'%></li>
        <li><%=image_tag 'brandsWolfskin.jpg'%></li>
        <li><%=image_tag "brandsHH.jpg"%></li>
      </ul>
    </aside>
    <aside class="content" id="panel2-3">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'brandsHunter.jpg'%></li>
        <li><%=image_tag 'brandsJoules.jpg'%></li>
        <li><%=image_tag 'brandsAnimal.jpg'%></li>
        <li><%=image_tag 'brandsWolfYork.jpg'%></li>
        <li><%=image_tag "brandsTimberland.jpg"%></li>
      </ul>
    </aside>
    <aside class="content" id="panel2-4">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'brandsTedBaker.jpg'%></li>
        <li><%=image_tag 'brandsCanadaGoose.jpg'%></li>
        <li><%=image_tag 'brandsFrenchConnection.jpg'%></li>
        <li><%=image_tag 'brandsHilfiger.jpg'%></li>
        <li><%=image_tag "brandsMaisonScotch.jpg"%></li>
      </ul>
    </aside>
    <aside class="content" id="panel2-5">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'brandsVans.jpg'%></li>
        <li><%=image_tag 'brandsDC.jpg'%></li>
        <li><%=image_tag 'brandsConverse.jpg'%></li>
        <li><%=image_tag 'brandsAdidas.jpg'%></li>
        <li><%=image_tag "brandsElement.jpg"%></li>

      </ul>
    </aside>
  </article>
</aside>

  <script>
  $(document).foundation({


    orbit: {
      animation: 'slide',
      timer_speed: 4000,
      pause_on_hover: true,
      resume_on_mouseout: true,
      animation_speed: 0.8,
      navigation_arrows: true,
      bullets: true,
      slide_number: false,
      timer: true
    }

  });
  </script>