<div class="contain-to-grid">
  <nav class="top-bar">
    <div class="row">
      <p class="medium-7 column">
        OVER 900 BRANDS WITH <span class="highlight">FREE DELIVERY</span> AND <span class="highlight">FREE UK RETURNS</span>
      </p>
    </div>
  </nav>
</div>

<div class="main">

  <div class="row head">
    <div class="small-12 medium-7 column">
      <%= image_tag("surfdomeLogo.svg", :alt => "surfdome.com") %>
    </div>
    <div class="small-12 medium-5 column">
      <div class="row">
        <p class="text-right small-12 column">Basket: £0.00 (0)</p>
      </div>

    <div class="row search-bar">
      <div class="small-12 column">
        <div class="small-8 medium-9 left">
          <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?">
        </div>
        <div class="small-4 medium-3 right">
          <a href="#" class="button expand secondary">SEARCH</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div data-interchange="[/mobile.html, (small)], [/home.html, (medium)], [/home.html, (large)]">
</div>

<aside class='row'>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">ACTION SPORTS</a></dd>
    <dd><a href="#panel2-2">OUTDOOR</a></dd>
    <dd><a href="#panel2-3">LIFESTYLE</a></dd>
    <dd><a href="#panel2-4">FASHION</a></dd>
    <dd><a href="#panel2-5">STREETWEAR</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'burton.jpg'%></li>
        <li><%=image_tag 'billabong.jpg'%></li>
        <li><%=image_tag 'roxy.jpg'%></li>
        <li><%=image_tag "o'neill.jpg"%></li>
        <li><%=image_tag 'quicksilver.jpg'%></li>
      </ul>
    </div>
    <div class="content" id="panel2-2">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'north_face.jpg'%></li>
        <li><%=image_tag 'berghaus.jpg'%></li>
        <li><%=image_tag 'patagonia.jpg'%></li>
        <li><%=image_tag 'wolfskin.jpg'%></li>
        <li><%=image_tag "hh.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-3">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'hunter.jpg'%></li>
        <li><%=image_tag 'joules.jpg'%></li>
        <li><%=image_tag 'animal.jpg'%></li>
        <li><%=image_tag 'wolf_york.jpg'%></li>
        <li><%=image_tag "timberland.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-4">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'ted_baker.jpg'%></li>
        <li><%=image_tag 'canada_goose.jpg'%></li>
        <li><%=image_tag 'french_connection.jpg'%></li>
        <li><%=image_tag 'hilfiger.jpg'%></li>
        <li><%=image_tag "maison_scotch.jpg"%></li>
      </ul>
    </div>
    <div class="content" id="panel2-5">
      <ul class='large-block-grid-5'>
        <li><%=image_tag 'vans.jpg'%></li>
        <li><%=image_tag 'dc.jpg'%></li>
        <li><%=image_tag 'converse.jpg'%></li>
        <li><%=image_tag 'adidas.jpg'%></li>
        <li><%=image_tag "element.jpg"%></li>
      </ul>
    </div>
  </div>
</aside>