
<div class="row">
<ul class="example-orbit" data-orbit>
      <li>
        <%= image_tag("slider1.jpg", :alt => "slider 1") %>
        <div class="orbit-caption">

        </div>
      </li>
      <li>
        <%= image_tag("slider2.jpg", :alt => "slider 2") %>
        <div class="orbit-caption">

        </div>
      </li>
      <li>
        <%= image_tag("slider3.jpg", :alt => "slider 3") %>
        <div class="orbit-caption">

        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <ul class="small-block-grid-2">
      <li><a><%= image_tag("Tile1.jpg", :alt => "tile 1") %></a></li>
      <li><a><%= image_tag("Tile2.jpg", :alt => "tile 2") %></a></li>
      <li><a><%= image_tag("Tile4.jpg", :alt => "tile 3") %></a></li>
      <li><a><%= image_tag("Tile5.jpg", :alt => "tile 4") %></a></li>
    </ul>
  </div>

  <!-- <footer class="row">
    <div class="mobile-footer small-12 columns">
      <div class="row">
        <ul class="nav-social">
          <li><a class="fi-social-facebook"></a></li>
          <li><a class="fi-social-twitter"></a></li>
          <li><a class="fi-social-pinterest"></a></li>
          <li><a class="fi-social-google-plus"></a></li>
          <li><a class="fi-social-youtube"></a></li>
          <li><a class="fi-social-instagram"></a></li>
        </ul>
      </div>
      <div class="row">
        <div class="small-6 column">
          <a href="#" class="custom-button">My Account</a>
        </div>
        <div class="small-6 column">
          <a href="#" class="custom-button">Not You?</a>
        </div>
      </div>
      <form>
        <div class="custom-form small-12 column">
          <div class="row">
            <div class="small-12 small-centered column">
              <label><span class="bold">sign up </span>for surfdome special offers</label>
              <input type="text" placeholder="Enter Email Address"/>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="small-5 column">
          <a href="#" class="custom-button-light">track order</a>
        </div>
        <div class="small-7 column">
          <a href="#" class="custom-button-light">delivery / returns</a>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <a href="#" class="custom-button button-more">more +</a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column hide">
          <a href="#" class="custom-button button-less">less –</a>
        </div>
      </div>

      <div class="row">
        <div class="small-12 column">
          <dl id="menu-primary">
            <dd><a href="#">customer care</a></dd>
            <dd><a href="#">about surfdome</a></dd>
            <dd><a href="#">why shop at surfdome?</a></dd>
            <dd><a href="#">opening times</a></dd>
          </dl> 
        </div>
      </div>

    </div>
  </footer> -->



 <script>


$('.example-orbit').foundation();



</script>
