<div class="row">

  <div class="medium-10 column products">
    <div class="row product-sort">
      <div class="small-11">
        <div class="row sort-select">
          <div class="small-6 column category-title">
            <h4>Category</h4>
          </div>
          <div class="small-3 column">
            <a href="#" data-dropdown="drop" class="custom-dropdown-button">Sort By</a><br>
            <ul id="drop" data-dropdown-content class="f-dropdown">
              <li><a href="#">Bestsellers</a></li>
              <li><a href="#">Price (Hi-Lo)</a></li>
              <li><a href="#">Price (Lo-Hi)</a></li>
              <li><a href="#">Most Recent</a></li>
            </ul>
          </div>
          <div class="row refine">
            <div class="small-3 column">
              <a href="#" class="custom-button">Refine</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="product-sets">
      <div class="row product-items">  
        <ul class='small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
          <li>
            <div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
              <div class="item-description">
              <span class="brand-logo brand-vans"></span><h5>Vans</h5>
              <p>Slim fit faded</p><span class="price highlight">£24.99</span>
              <div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a>
              </div>
            </li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
            <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div>
          </li>
          </ul>
        </div>

      <div class="row product-items2">
        <ul class="large-block-grid-4 medium-block-grid-3 ">
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li><li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
        </ul>
      </div>
    </div>
     
    </div>
  </div>


<script>

var list = $('.product-sets').find('ul');

$('#view-3').click(function(){

  

if(list.hasClass("large-block-grid-4")){

  list.addClass("large-block-grid-3");

  list.removeClass("large-block-grid-4");
  
}

});

$('#view-4').click(function(){

if(list.hasClass("large-block-grid-3")){
  list.addClass("large-block-grid-4");

  list.removeClass("large-block-grid-3");
  
}

});

$("#swapStyles").change(function(){

var s = $( "select option:selected" ).val();

if (s == "style1"){
  $('.product-items').css("display","block");
  $('.product-items2').css("display","none");
}
else{
  $('.product-items').css("display","none");
  $('.product-items2').css("display","block");
}

})


</script>

