<div class="row">

  <div class="medium-10 column products">
    <div class="row sort-select">
      <div class="small-12 small-centered column page-title">
        <h2>men's jeans</h2>
      </div>
      <div class="small-5 column">
        <a id="button-refine" class="custom-button">REFINE</a>
      </div>
      <div class="small-5 column">
        <a data-dropdown="drop" class="custom-dropdown-button">SORT BY</a><br>
        <ul id="drop" data-dropdown-content class="f-dropdown">
          <li><a href="#">Bestsellers</a></li>
          <li><a href="#">Price (Hi-Lo)</a></li>
          <li><a href="#">Price (Lo-Hi)</a></li>
          <li><a href="#">Most Recent</a></li>
        </ul>
      </div>
    </div>
    <div class="row tab-refine">
      <ul id="tab-primary">
        <li><a class="tab-primary-nav">STYLE</a></li>
        <li><a class="tab-primary-nav">SIZE</a></li>
        <li><a class="tab-primary-nav">COLOUR</a></li>
        <li><a class="tab-primary-nav">BRAND</a></li>
        <li><a class="tab-primary-nav">PRICE</a></li>
      </ul>
      <ul id="tab-secondary">
        <li><a class="tab-secondary-nav">BOOTCUT</a></li>
        <li><a class="tab-secondary-nav">REGULAR</a></li>
        <li><a class="tab-secondary-nav">RELAXED</a></li>
        <li><a class="tab-secondary-nav">SKINNY</a></li>
        <li><a class="tab-secondary-nav">SLIM</a></li>
        <li><a class="tab-secondary-nav">TAPERED</a></li>
        <li>
          <ul>
            <li class="small-3 column">
              <a class="button-back">BACK</a>
            </li>
            <li class="small-5 column">
              <a class="button-back">CLEAR STYLE</a>
            </li>
            <li class="small-4 column">
              <a class="button-back">CLEAR ALL</a>
            </li>
          </ul>
          <div class="button-back-border">
          </div>
        </li>
      </ul>
      <div class="tab-refine-border">
      </div>
    </div>

    <div class="product-sets">
      <div class="row product-items">  
        <ul class='small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
          <li>
            <div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
              <div class="item-description">
              <span class="brand-logo brand-vans"></span><h5>Vans</h5>
              <p>Slim fit faded</p><span class="price highlight">£24.99</span>
              <div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a>
              </div>
            </li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
            <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
             <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
            <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div>
          </li>
          </ul>
        </div>

      <div class="row product-items2">
        <ul class="large-block-grid-4 medium-block-grid-3 ">
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li><li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
        </ul>
      </div>
    </div>
     
    </div>
  </div>


<script>

$('#button-refine').click(function(){

  var tr = $('.tab-refine');
  var br = $('#button-refine');
  

  if (br.hasClass("active")){
    br.removeClass("active");
    newHeight = 0;
    tr.fadeOut(500);
    tr.animate({height:"0"},600, function(){
    $('#tab-primary').css({"marginLeft":"0", "display":"block"});
    $('#tab-secondary').css({"marginLeft":"100%", "display":"none"});
    });
  }
  else {
    tr.animate({height:"192px"}, 400,function(){
    br.addClass("active"); 

    });
    tr.fadeIn(500);    
  }
});

$('.tab-primary-nav').click(function(){

  var tp = $('#tab-primary');
  var ts = $('#tab-secondary');
  var tr = $('.tab-refine');
  var currTab = tp;

  tp.animate({marginLeft:'-100'}, 100);
  
  var newHeight = ts.height()+22;

  ts.animate({marginLeft:'0'}, 300);
  tr.animate({height:newHeight}, 300);

  ts.fadeIn(50);
  tp.fadeOut(50);

  currTab = ts;

  $('.button-back').click(function(){
    ts.animate({marginLeft:'100%'}, 100);

    var newHeight = tp.height()+22;

    tp.animate({marginLeft:'0'}, 300);
    tp.fadeIn(50);
    ts.fadeOut(50);
    tr.animate({height:newHeight}, 300);

    currTab = tp;
  });
});

</script>

