<div class="row">
   <div class="small-12 small-centered column"> 
    <div class="promo-bar">
    <h3>NEW YEAR, NEW YOU!</h3>
    <a>SHOP MENS</a>
    <a>SHOP WOMENS</a>
    <a>SHOP BOYS</a>
    <a>SHOP GIRLS</a>
  </div>
  </div></div>
        
<div class="row">

  <div class="small-12 column">
   <div class="crumbs">Surfdome > Mens > Mens Jackets > Carhartt Mens Jackets</div>
    
</div>  

<div class="row products">
  <div class="small-12 medium-6 large-4 column product-items"><div class="small-12 column"><div class="item-img-main"><%= image_tag ("products/jackets/productJacket.jpg") %></div></div>
  <div class="small-12 column product-thumb">
  <ul class="medium-block-grid-3">
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket1.jpg')%></div></li>
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket2.jpg')%></div></li>
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket3.jpg')%></div></li>
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket4.jpg')%></div></li>
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket5.jpg')%></div></li>
<li><div class="item-img"><%=image_tag ('products/jackets/thumbProductJacket6.jpg')%></div></li>
</ul>
</div>
</div>
  <div class="small-12 medium-6 large-5 column product-description"><h3>Carhartt Sheffield Jacket<small>Blue Penny</small></h3>
    <h4>£164.99</h4>

    <div class="row item-selections">
      <div class="medium-3 column">
    <span>Quantity</span><input type="textbox"></div><div class="medium-4 column"><select><option>Select</option></select></div><div class="medium-5 column"><a class="button">Add to Basket</a></div></div>
    <div class="row">
  <div class="small-12 column"><hr></div>
</div>
  <h6 class="available"><span class="fi-check size-14"></span> IN STOCK</h6>

<h6>3 HOURS &amp; 14 MINUTES LEFT TO ORDER FOR GUARANTEED UK DELIVERY ON MONDAY 13TH JANUARY 2014</h6>
<h6 class="highlight">FREE SHIPPING AVAILABLE - NEXT DAY DELIVERY - FREE UK RETURNS - SECURE PAYMENT - HELPFUL CUSTOMER SERVICE</h6>
<h5 class="product-features">Features:</h5>
<ul>
<li>Men's jacket by Carhartt</li>
<li>Classic workwear style</li>
<li>Faux fur borg collar</li>
<li>Zip down closure with buttoned placket overlayer</li>
<li>Twin hand pockets</li>
<li>Standard sleeves and hem</li>
<li>Brand patch to base</li>
<li>Full sherpa lining</li>
<li>Regular fit</li>
<li>Machine washable</li>
<li>Material: 100% Cotton</li>
</ul>

<p>Classic workwear is a timeless choice and the Carhartt Sheffield jacket totally embodies such an ethos. Offering full sherpa lining, branded button closure and a sharp blue collar aesthetic, give your style a swift hunter-gatherer charge.</p>

<p class="strong">Product Code: 140166</p>

</div>
  <div class="small-12 medium-12 large-3 column product-items product-thumb">
    <div class="small-12 column">
<h6>Complete the Look</h6>

    <ul class="large-block-grid-2 medium-block-grid-6">
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct1.jpg')%></div><div><p><strong>Carhartt</strong>£69.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct2.jpg')%></div><div><p><strong>Wesc</strong>£149.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct3.jpg')%></div><div><p><strong>Two Angle</strong>£24.99</p></div></li>
</ul>
<h6>Customers also Bought</h6>

    <ul class="large-block-grid-2 medium-block-grid-6">
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct4.jpg')%></div><div><p><strong>Etnies</strong>£69.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct5.jpg')%></div><div><p><strong>Wolf &amp; York</strong>£69.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct6.jpg')%></div><div><p><strong>Vans</strong>£64.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct7.jpg')%></div><div><p><strong>Element</strong>£39.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct8.jpg')%></div><div><p><strong>The North Face</strong>£99.99</p></div></li>
<li><div class="item-img"><%=image_tag ('products/tb/thumbProduct9.jpg')%></div><div><p><strong>Palladium</strong>£84.99</p></div></li>



</ul>
</div>
</div>

  </div>

