<div class="row"> 
  <div class="row products">
    <div class="small-12 medium-6 large-4 column product-items">

      <div class="row">
        <ul class="nav-social hide">
          <li><a class="fi-social-facebook"></a></li>
          <li><a class="fi-social-twitter"></a></li>
          <li><a class="fi-social-pinterest"></a></li>
          <li><a class="fi-social-google-plus"></a></li>
          <li><a class="fi-social-youtube"></a></li>
          <li><a class="fi-social-instagram"></a></li>
        </ul>
      </div>

      <div class="row">
        <ul class="example-orbit" data-orbit>
          <li>
            <%= image_tag ("products/jackets/productJacket.jpg") %>
          </li>
          <li>
            <%=image_tag ('products/jackets/thumbProductJacket1.jpg')%>          
          </li>
          <li>
            <%=image_tag ('products/jackets/thumbProductJacket2.jpg')%>
          </li>
        </ul>
      </div>
    </div>
    <div class="small-11 small-centered medium-6 large-5 column product-description">
      <h2>Carhartt Sheffield Jacket<small>Blue Penny</small></h2>
      <h3>£164.99</h3>
      <div class="row small-12 small-centered item-selections">
        <div class="small-3 column">
          <span></span><input type="textbox" value="1">
        </div>
        <div class="small-4 column">
          <select><option>size</option></select>
        </div>
        <div class="small-5 column">
          <a class="button">Add&nbsp;to&nbsp;Bag</a>
        </div>
      </div>
<!--       <div class="row">
        <div class="small-12 column"><hr></div>
      </div>
      <h6 class="available"><span class="fi-check size-14"></span> IN STOCK</h6>
      <h6>3 HOURS &amp; 14 MINUTES LEFT TO ORDER FOR GUARANTEED UK DELIVERY ON MONDAY 13TH JANUARY 2014</h6> -->
    </div>

    <div class="small-12 small-centered medium-6 large-5 column product-description">
      <ul class="accordion" data-accordion>
        <li>
          <a class="tab-accordion"><h5>Features</h5></a>
          <div>
            <ul>
              <li>Men's jacket by Carhartt</li>
              <li>Classic workwear style</li>
              <li>Faux fur borg collar</li>
              <li>Zip down closure with buttoned placket overlayer</li>
              <li>Twin hand pockets</li>
              <li>Standard sleeves and hem</li>
              <li>Brand patch to base</li>
              <li>Full sherpa lining</li>
              <li>Regular fit</li>
              <li>Machine washable</li>
              <li>Material: 100% Cotton</li>
            </ul>

            <p>Classic workwear is a timeless choice and the Carhartt Sheffield jacket totally embodies such an ethos. Offering full sherpa lining, branded button closure and a sharp blue collar aesthetic, give your style a swift hunter-gatherer charge.</p>

            <p class="strong">Product Code: 140166</p>
          </div>
        </li>
        <li>
          <a class="tab-accordion"><h5>Sizes</h5></a>
          <div>
            Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </li>
        <li>
          <a class="tab-accordion"><h5>Shipping</h5></a>
          <div>
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 column product-items product-thumb">
      <div class="small-12 column">
        <h6 class="complete-look">Complete the Look</h6>
        <ul class="small-block-grid-3 medium-block-grid-6">
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct1.jpg')%></div>
            <div><p><strong>Carhartt</strong>£69.99</p></div>
          </li>
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct2.jpg')%></div>
            <div><p><strong>Wesc</strong>£149.99</p></div>
          </li>
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct3.jpg')%></div>
            <div><p><strong>Two Angle</strong>£24.99</p></div>
          </li>
        </ul>
        <h6 class="customers-bought">Customers also Bought</h6>
        <ul class="small-block-grid-3 medium-block-grid-6">
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct4.jpg')%></div>
            <div><p><strong>Etnies</strong>£69.99</p></div>
          </li>
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct5.jpg')%></div>
            <div><p><strong>Wolf &amp; York</strong>£69.99</p></div>
          </li>
          <li>
            <div class="item-img"><%=image_tag ('products/tb/thumbProduct6.jpg')%></div>
            <div><p><strong>Vans</strong>£64.99</p></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

$(document).foundation({
  orbit: {
    animation: 'slide',
    timer_speed: 3000,
    pause_on_hover: true,
    animation_speed: 700,
    navigation_arrows: true,
    bullets: true,
    slide_number: false,
    timer: false
  }
});

$('.tab-accordion').each(function(){

  var acc = $(this).next('div');

if(!acc.attr('initH')) acc.attr('initH', (acc.height()+20));

acc.css({"height":"0","display":"none"});

});
    

$('.tab-accordion').click(function() {


var toggle = $(this).next('div');
  
  if($(this).next('div').height() != 0) {
    $(this).removeClass("active");
    TweenLite.to(toggle, .2, {css:{opacity:0},onComplete:function(){
      TweenLite.to(toggle, .4, {css:{height: 0},ease:Expo.easeInOut,onComplete:function(){
        toggle.css("display","none");
        
      }});
  }});
  }
  else {
    toggle.css({"display":"block","opacity":"0"});
    $(this).addClass("active");
    TweenLite.to(toggle, .4, {css:{height: toggle.attr('initH')},ease:Expo.easeInOut,onComplete:function(){

TweenLite.to(toggle, .4, {css:{opacity:1}});

    }});
  }
});
</script>


