<div class="row main-nav">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="/product"  data-options="is_hover:true">MENS</a>
<div id="menu-mens" data-dropdown-content="" class="large f-dropdown content row right" style="position: absolute; top: 45px; left: -99999px;">
                  <div class="large-6 columns">
                    <!-- Heading 1 -->  
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 1</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>   
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul>
                      </div>
                    </div>  
                  </div>
                  <div class="large-6 columns">
                    <!-- Heading 2 -->
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 2</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul> 
                      </div>
                    </div>
                  </div>
                </div>
      </li>
      <li><a href="#">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>

  <div class="row">
   <div class="small-12 small-centered column"> 
    <div class="promo-bar">
    <h3>NEW YEAR, NEW YOU!</h3>
    <a>SHOP MENS</a>
    <a>SHOP WOMENS</a>
    <a>SHOP BOYS</a>
    <a>SHOP GIRLS</a>
  </div>
  </div></div>
        
<div class="row">
  <div class="medium-2 column nav-left">
   <div class="crumbs">Surfdome > Mens > Jeans</div>
    
<script type="text/javascript">
var has_sc = 1;
</script>
<!-- <div class="fhead">
RELATED STYLES</div>


<div><input name="sc" type="checkbox" value="0" style="display:none;"><div
class="sl scl" i="1"><input name="sc" type="checkbox" value="1511"><a
href="/Mens_Bootcut_ Jeans-c1511/">Bootcut</a></div> <div class="sl scl"
i="2"><input name="sc" type="checkbox" value="1509"><a
href="/Mens_Straight_Jeans-c1509/">Regular</a></div> <div class="sl scl"
i="3"><input name="sc" type="checkbox" value="1510"><a
href="/Mens_Relaxed_Jeans-c1510/">Relaxed</a></div> <div class="sl scl"
i="4"><input name="sc" type="checkbox" value="1507"><a
href="/Mens_Skinny_Jeans-c1507/">Skinny</a></div> <div class="sl scl"
i="5"><input name="sc" type="checkbox" value="1508"><a
href="/Mens_Slim_Jeans-c1508/">Slim</a></div> <div class="sl scl" i="6"><input
name="sc" type="checkbox" value="2341"><a
href="/Mens_Tapered_Jeans-c2341/">Tapered</a></div> </div> -->

<div class="fhead">RELATED PRODUCTS</div><div class="rp"><a
href="/Mens_Cargoes-c1080/">Mens Cargos</a></div> <div class="rp"><a
href="/Mens_Chinos-c1427/">Mens Chinos</a></div> <div class="rp"><a
href="/Mens_Shorts-364/">Mens Shorts</a></div> 

<div class="fhead">SHOP BY</div><div class="rp"><input name="sc" type="checkbox" value="1511"><a
href="/Mens_Bootcut_ Jeans-c1511/">Sale Items</a></div>

<!-- <div
class="fhead">SORT BY</div> <select name="sortBy" class="dropdown2"
onchange="javascript:initajax('sort');"> <option value="PriceHiLo">Price (Hi-
Lo)</option> <option value="PriceLoHi">Price (Lo-Hi)</option> <option
value="bestseller" selected="selected">Bestsellers</option> <option
value="MostRecent">Most Recent</option>     <script type="text/javascript"> if
(has_si == 1) { document.write('<option value="SaleItems">Sale
Items</option>'); } </script> </select> -->


</div>  


<div class="medium-10 column products">

<div class="row intro">
  <div class="small-10 small-centered column text-center"><h2>Men's Jeans</h2><p>With a multitude of pairs on offer here, our men’s jeans section has really exploded into a massive collection of different styles, cuts, fits and colours. Hailing from well known names in fashion and street wear as well as top active apparel brands, we’re confident that our collection holds the perfect pieces whatever your style. From skinny jeans that look great worn on any fashionable event to relaxed cuts that ensure comfortable and breathable all-day wear.</p></div>
</div>
<div class="row product-types">
  <div class="small-12 small-centered column">
    <ul><li><a>Bootcut</a></li>
      <li><a>Regular</a></li>
      <li><a>Relaxed</a></li>
      <li><a>Skinny</a></li>
      <li><a>Slim</a></li>
      <li><a>Tapered</a></li>
    </ul>
  </div>
</div>
<div class="row product-sort">
  <div class="medium-4 column"><p>255 styles found | <a>View 204 per page</a></p></div>
  <div class="medium-4 column"><p>View: <a id="view-3">3 columns</a><a id="view-4">4 columns</a></p></div>
  <div class="medium-4 column">
<div class="row sort-select">
  <div class="small-3 column">
    <p>Sort By </p>
</div>
<div class="small-9 column">
    <select id="swapStyles"><option>Select...</option>
<option value="style1">Style 1</option>
<option value="style2">Style 2</option>
</select>
</div>
</div>
</div>
</div>
<div class="product-sets">
<div class="row product-items">  
    <ul class='large-block-grid-4 medium-block-grid-3 '>
        <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           
           
        
      </ul>
      </div>

      <div class="row product-items2">
        <ul class="large-block-grid-4 medium-block-grid-3 ">
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
          <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans2.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans3.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li><li><div class="item-img"><%=image_tag 'products/jeans/productJeans4.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans5.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans6.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-gstar"></span><h5>G-Star</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans7.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-levis"></span><h5>Levi's</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
           <li><div class="item-img"><%=image_tag 'products/jeans/productJeans1.jpg'%></div>
          <div class="item-description"><span class="brand-logo brand-vans"></span><h5>Vans</h5><p>Slim fit faded</p><span class="price highlight">£24.99</span><div class="sizes"><span>Sizes:</span><a>30</a><a>32</a><a>34</a></div></li>
        </ul>
      </div>
    </div>
     
    </div>
  </div>


<script>

var list = $('.product-sets').find('ul');

$('#view-3').click(function(){

  

if(list.hasClass("large-block-grid-4")){

  list.addClass("large-block-grid-3");

  list.removeClass("large-block-grid-4");
  
}

});

$('#view-4').click(function(){

if(list.hasClass("large-block-grid-3")){
  list.addClass("large-block-grid-4");

  list.removeClass("large-block-grid-3");
  
}

});

$("#swapStyles").change(function(){

var s = $( "select option:selected" ).val();

if (s == "style1"){
  $('.product-items').css("display","block");
  $('.product-items2').css("display","none");
}
else{
  $('.product-items').css("display","none");
  $('.product-items2').css("display","block");
}

})


</script>

